<div id="<%= dom_id order %>">
  <p>
    <strong><%= order.id %></strong>
    <strong>Order Date:</strong>
    <%= order.order_date %>
    <strong>Payment Status:</strong>
    <%= order.payment_status %>
    <strong>Total Price:</strong>
    <%= order.total_price %>
  </p>

</div>
