<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", [@customer] %>
      <%= link_to "Edit this order", edit_customer_order_path(@customer, order) %>
      <%= link_to "Destroy this order", [@customer, order], method: :delete, data: { confirm: "are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New order", new_customer_order_path(@customer) %>
